<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>動画アップロード</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
</head>
<body>
    <video autoplay loop muted playsinline id="cover-video">
        <source src="{{ url_for('static', filename='movie/back.webm') }}" type="video/webm">
    </video>

    <div class="main_form">
        <div class="main_upload">
            <form action="/upload_web" method="post" enctype="multipart/form-data">
                <h2>動画アップロード</h2>
                <p>Discordで/uploadコマンドを使用し、払い出されたURLからアップロードしてください。</p>
                
                <label for="title">タイトル (任意):</label>
                <input type="text" id="title" name="title" value="{{ initial_title }}">
                
                <label for="video">動画ファイル:</label>
                <input type="file" id="video" name="video" accept="video/*" required>
                
                <input type="hidden" name="channel_id" value="{{ initial_channel_id }}">
                <input type="hidden" name="author" value="{{ initial_author }}">
                
                <input type="submit" value="アップロード">
            </form>
        </div>
    </div>
</body>
</html>